.join{
	width: 100%;
	margin-bottom: 25px;
}


.logout {
	background-color: white;
	font-size: 12px;
    color: #444;
    border: 1px solid #e5e8ef;
    padding: 0 5px;
    height: 22px;
    line-height: 23px;
    text-decoration: none!important;
}
.logout:hover {
	border: 1px solid #BDC0C7;
	background-color: #F3F3F3;
}

.pur {
	flex: 0 0 calc(33% - 40px);
/* 	max-width: calc(33% - 40px); */
	border: 2px solid gray;
	margin: 20px;
	padding-bottom: 10px;
}


.cash {
	width: 50%;
}

.cash-warp {
    width: 1558px;
    margin: 0 auto;
    background: #eff3f7;
    padding: 80px 0;
}


.cash-btn {
    display: inline-block;
    min-width: 100%;
    text-align: center;
    border: none;
    padding: 18px 5px;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    color: #fff;
    cursor: pointer;
    background: #ff2a6b;
    font-size: 40px;
}


.txt-box {
    width: 100%;
    height: 53px;
    border: none;
    background: #eff3f7;
    font-size: 14px;
    padding: 0 30px;
    margin-bottom: 25px;
}

.site-pagination .more-page {
    min-width: 48px;
    height: 48px;
    display: inline-block;
    text-align: center;
    padding: 13px 10px 0;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    background: none;
    margin-right: 4px;
}





