.join{
	width: 100%;
	margin-bottom: 25px;
}


.logout {
	background-color: white;
	font-size: 12px;
    color: #444;
    border: 1px solid #e5e8ef;
    padding: 0 5px;
    height: 22px;
    line-height: 23px;
    text-decoration: none!important;
}
.logout:hover {
	border: 1px solid #BDC0C7;
	background-color: #F3F3F3;
}

.pur {
	flex: 0 0 calc(33% - 40px);
	max-width: calc(33% - 40px);
	border: 2px solid gray;
	margin: 20px;
}

