<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.MemberMapper">

<insert id="insert">
	INSERT INTO member (id, password, reg_date, cash, mileage, email, birthday, gender)
	VALUES (#{id},#{password},CURRENT_TIMESTAMP, 0, 0, #{email},#{birthday},#{gender})
</insert>

<select id="getMemberById" resultType="memberVO">
	SELECT * FROM member WHERE id = #{id}
</select>

<select id="countById" resultType="_int">
	SELECT COUNT(*) FROM member WHERE id = #{id}
</select>

<select id="checkPw" resultType="string">
	select password from member where id = #{id}
</select>

<update id = "upDateMember">
	UPDATE member 
	SET password = #{password},
	email = #{email},
	birthday = #{birthday} 
	WHERE id = #{id}
</update>

<delete id="deleteMember">
	DELETE FROM member WHERE id = #{id}
</delete>





<!-- 구매 관련 -->

<select id="getCurrPackageById" resultType="string">
	SELECT package FROM package
	WHERE id = #{id} AND expire_date > current_date()
</select>

<update id="updateCash">
	UPDATE member SET cash = #{cash} WHERE id = #{id}
</update>
	
<insert id="insertPackage">
	INSERT INTO package (id, package, expire_date)
	VALUES (#{id}, #{pack}, DATE_ADD(CURRENT_DATE, INTERVAL #{month} MONTH))
</insert>
	

</mapper>




















